<div class="content-wrapper">
  <div class="elevation-1dp content-panel" >
    asdf
    <div class="content-panel-inner">
      {{nb-button text="show/hide" type="flat-icon" icon="check" iconColor="grey" background-color=header-background-color on-tap=(route-action "toggleRightSidebar")  }}
      {{nb-button text="show/hide" type="flat-icon" icon="check" iconColor="grey" background-color=header-background-color on-tap=(route-action "buildClasses")  }}
    </div>
  </div>


</div>